<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>MASC LiveOS</title>
	<link rel="stylesheet" type="text/css" href="views/global/global.css" />
	<link rel="stylesheet" type="text/css" href="views/index/index.css" />
</head>
<body>
<center>
<div class="index_container">
	<div class="livos_container livos_container_head">

		<div class="index_text">To proceed, please:</p>

		<a href="/login" class="btn btn-default"><div class="livos_button index_button">Login</div></a>
		<a href="/signup" class="btn btn-default"><div class="livos_button index_button">Signup</div></a>
	</div>
</div>
</center>
</body>
</html>