<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>MASC LiveOS - Login</title>
	<link rel="stylesheet" type="text/css" href="views/global/global.css" />
	<link rel="stylesheet" type="text/css" href="views/index/index.css" />
</head>
<body>
<div class="signup_container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="form-group">
			<label class="signup_field_name">Email</label>
			<input type="text" class="livos_textbox signup_field" name="email">
		</div>
		<div class="form-group">
			<label class="signup_field_name">Password</label>
			<input type="password" class="livos_textbox signup_field" name="password">
		</div>
		<center>
		<button type="submit" class="livos_button signup_button">Login</button>
		</center>
	</form>

	<p>Need an account? <a href="/signup">Signup</a> or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
