body {
	color: #000;
	font-size: 10pt;
	overflow: hidden;
	background:  url(../../img/logo.png) no-repeat, -webkit-gradient(radial, center, from(#222), to(#000));
  background:  url(../../img/logo.png) no-repeat, -webkit-radial-gradient(center,#222,#000);
  background:  url(../../img/logo.png) no-repeat, -moz-radial-gradient(center,#222,#000);
  background:  url(../../img/logo.png) no-repeat, -ms-radial-gradient(center,#222,#000);
  background:  url(../../img/logo.png) no-repeat, -o-radial-gradient(center,#222,#000);
  background:  url(../../img/logo.png) no-repeat, -radial-gradient(center,#222,#000);
  background-position: center; 
  background-attachment: fixed;
}
section{
	height: calc(100% - 40px);
}
.side-button {
	border-style: solid;
	border-width: 2px;
	width: 60px;
	height: 25px;
	text-align: center;
	border-color: #666;
}
.left-btn{
	z-index: 9998;
	width: 24px;
	height: 115px;
	position: relative;
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 5px;
}
.window-wrapper{
	margin: 5px;
	height: 100%;
	position: relative;
}
.cbp-custom {
	margin-top: 28px;
	background-color: #E6E6E6; 
}

#dl-menu {
	top: 5px;
	left: 5px 

}
